
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delta-IDS</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" media="screen">



  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1 id="eventId">Event: -</h1>
        <p class="lead" id="info"></p>
      </div>


    <hr/>


    




    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript">

     id = window.location.href.split('/').slice(-1)[0];
 
      $.getJSON("/api/v1/events/" + id, function(data) {

      console.log(data);

    });

    </script>


  </body>
</html>

