
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delta-IDS</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" media="screen">



  </head>

  <body>
    <div class="container">

      <div class="page-header">
        <h1>Recent Events</h1>
        <p class="lead">A table of recent events across all hosts and all environments.</p>
      </div>

      <hr>

      <table id="table">
        <thead>
          <tr>
            <th data-field="Uuid" data-formatter="idFormatter">Item ID</th>
            <th>Hostname</th>
            <th>Environment</th>
            <th data-field="EventType">Event Source</th>
            <th data-field="TimeStamp" data-formatter="dateFormatter">TimeStamp</th>
            <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
          </tr>
        </thead>
      </table>



    </div> <!-- /container -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


    <script type="text/javascript">

    $.getJSON("/api/v1/events/recent", function(data) {

      console.log(data);

      $(function () {
        $('#table').bootstrapTable({
          data: data
        });
      });

    });

function idFormatter(value, row, index) {
	return value.split("-")[0]
}

function dateFormatter(value, row, index) {
	return Date(value/1000).toLocaleString();
}

function actionFormatter(value, row, index) {
    return [
        '<a class="remove" style="margin-left: 10px;" href="javascript:void(0)" title="Like">',
        '<i class="glyphicon glyphicon-remove-circle text-danger"></i>',
        '</a>',
        '<a class="info" style="margin-left: 10px;" href="javascript:void(0)" title="Remove">',
        '<i class="glyphicon glyphicon-info-sign text-default"></i>',
        '</a>'
    ].join('');
}

window.actionEvents = {
    'click .remove': function (e, value, row, index) {
        alert('remove item: ' + index);
    },
    'click .info': function (e, value, row, index) {
        alert(row['Data']); 
    }
};



    </script>




  </body>
</html>

